@media(min-width:0px) and (max-width:575px){
.container{ width:100%;}
/*--------------- HEADER_START --------------*/
#header{ padding:0px;}
.header-in-hp{ padding:0 15px; height:80px; justify-content: space-between; }
.logo-hp{ width:150px; padding:10px 0; }
.logo-hp img{ width:100%; height:auto; }

.mobile-menu-icon-hp{ display:block; margin-top:0px;  }
.menu-toggle-btn{  margin:20px auto 20px auto;  }
.navigation { padding: 15px; position: absolute; left: 0; width: 100%; background-color: #fff; display: none; top: 80px; clear: both; }
.navigation > ul { text-align: left; width: 100%;  padding: 0; }
.navigation > ul > li { font-size: 18px; display: block; padding: 0 0 15px 0; }
.contact-btn-hp{ height: 56px; line-height: 56px; font-size:16px; }
/*--------------- HEADER_END --------------*/
/*--------------- CONTAIN_START --------------*/
#contain{ margin:0px; padding:80px 0 0 0;}

/*--------------- CONTAIN_END --------------*/
/*--------------- FOOTER_START --------------*/
#footer{ padding:40px 0; min-height:inherit; }
.footer-left-hp{ width:100%; }
.footer-logo-hp img{ width:200px; }
.footer-right-hp{ width:100%; padding:30px 0 0 0; }
.footer-links-hp ul li { font-size: 18px; line-height: 40px; padding-right: 0;  width: 100%; }
/*--------------- FOOTER_END --------------*/


/*--------------- LINKEY_START --------------*/
.sub-navigation-lp{ position:relative; top:auto; left:auto; display:block; height:auto; padding:20px 0 20px 0; }
.sub-nav-right-lp{ text-align:left; padding:15px 0 0 0; }
.sub-nav-right-lp ul{ text-align:left; }
.sub-nav-right-lp ul li{ padding:0px 0 15px 0; width:100%;  }

.banner-block-lp{ padding:0px; }
.linkey-pro-block-lp{ padding:60px 0; }

.linkey-pro-left-lp{ width:290px; float:none; margin:auto; }

.linkey-pro-img1-hp{ width:100%; }
.linkey-pro-img2-hp{ width:100%; margin:-20px 0 0 0 }
.linkey-pro-right-lp{ width:100%; float:none; padding:40px 0 0 0; clear:both; text-align: center; }
.linkey-pro-right-lp p{ font-size: 16px; line-height: 30px; padding-bottom: 20px; }

.characteristic-block-lp{ margin:0; }
.common-title-lp h2{ font-size: 30px; line-height: 40px; }
.common-title-lp p{ font-size: 16px; line-height: 30px; padding-top: 20px; }
.characteristic-middle-lp{ padding:60px 0 0 0; }
.characteristic-box-lp{ padding-bottom:80px; display:block;}
.chara-box-left-lp{ width:100%; padding-bottom:30px; }
.chara-box-right-lp{ width:100%; }
.chara-box-right-in-lp{ width:100%; margin:0; padding:30px 20px; }
.characteristic-reverse-box-lp .chara-box-right-in-lp{ margin:0; }
.chara-box-right-title-lp{ font-size:24px; line-height:34px; }
.chara-box-right-desc-lp{ padding:20px 0 0 0; }
.chara-box-right-desc-lp p{ font-size: 16px; line-height: 30px;}

.management-block-lp{ padding:60px 0 0 0; }
.management-middle-lp{ padding:60px 0 0 0; }
.management-box-left-lp{ width:100%; padding:0px 0 30px 0; }
.management-box-right-lp{ width:100%; }
.management-box-2-main-lp{ padding-top:0px; }
.management-box-2-lp{ margin:0px !important; }
.management-box-3-main-lp{ padding-top:0px; }
.management-box-4-main-lp{  padding-top:0px; }

.usage-block-lp{ margin-top:0px; height:600px; background-size: cover !important; }
.usage-title-lp{ position:relative; margin-top:0px; }

.attachment-block-lp{ padding:60px 0 0px 0; }
.attachment-middle-lp{ padding:60px 0 0 0; }
.attachment-box-lp{ width:100%; margin:0 0 30px 0; }
.attachment-text-lp{ font-size: 30px; line-height: 40px; }
.attachment-btn-lp a{ font-size:24px; }

.functions-middle-lp{ padding:60px 0 0 0; margin:0; }
.functions-box-lp{ width:100%; margin:0 0 20px 0;  }
.functions-img-lp{ height:90px; line-height:90px; }
.functions-img-lp img{ max-height:90px; }
.functions-name-lp{ font-size:20px; }

.contact-block-lp{ padding:50px 0 100px 0; }
.contact-title-lp{ font-size:20px; line-height:35px; padding-bottom:30px; }

/*--------------- LINKEY_END --------------*/
}

@media(min-width:576px) and (max-width:767px){
.container{ width:100%;}
/*--------------- HEADER_START --------------*/
#header{ padding:0px;}
.header-in-hp{ padding:0 15px; height:80px; justify-content: space-between; }
.logo-hp{ width:150px; padding:10px 0; }
.logo-hp img{ width:100%; height:auto; }

.mobile-menu-icon-hp{ display:block; margin-top:0px;  }
.menu-toggle-btn{  margin:20px auto 20px auto;  }
.navigation { padding: 15px; position: absolute; left: 0; width: 100%; background-color: #fff; display: none; top: 80px; clear: both; }
.navigation > ul { text-align: left; width: 100%;  padding: 0; }
.navigation > ul > li { font-size: 18px; display: block; padding: 0 0 15px 0; }
.contact-btn-hp{ height: 56px; line-height: 56px; font-size:16px; }
/*--------------- HEADER_END --------------*/
/*--------------- CONTAIN_START --------------*/
#contain{ margin:0px; padding:80px 0 0 0;}

/*--------------- CONTAIN_END --------------*/
/*--------------- FOOTER_START --------------*/
#footer{ padding:40px 0; min-height:inherit; }
.footer-left-hp{ width:100%; }
.footer-logo-hp img{ width:200px; }
.footer-right-hp{ width:100%; padding:30px 0 0 0; }
.footer-links-hp ul li { font-size: 18px; line-height: 40px; padding-right: 0;  width: 100%; }
/*--------------- FOOTER_END --------------*/


/*--------------- LINKEY_START --------------*/
.sub-navigation-lp{ position:relative; top:auto; left:auto; display:block; height:auto; padding:20px 0 20px 0; }
.sub-nav-right-lp{ text-align:left; padding:15px 0 0 0; }
.sub-nav-right-lp ul{ text-align:left; }
.sub-nav-right-lp ul li{ padding:0px 0 15px 0; width:100%;  }

.banner-block-lp{ padding:0px; }
.linkey-pro-block-lp{ padding:60px 0; }

.linkey-pro-left-lp{ width:100%; float:none; margin:auto; }

.linkey-pro-img1-hp{ width:calc(50% - 10px); float:left; }
.linkey-pro-img2-hp{ width:calc(50% - 10px); float:right; margin:0px 0 0 0 }
.linkey-pro-right-lp{ width:100%; float:none; padding:40px 0 0 0; clear:both; text-align: center; }
.linkey-pro-right-lp p{ font-size: 16px; line-height: 30px; padding-bottom: 20px; }

.characteristic-block-lp{ margin:0; }
.common-title-lp h2{ font-size: 30px; line-height: 40px; }
.common-title-lp p{ font-size: 16px; line-height: 30px; padding-top: 20px; }
.characteristic-middle-lp{ padding:60px 0 0 0; }
.characteristic-box-lp{ padding-bottom:80px; display:block;}
.chara-box-left-lp{ width:100%; padding-bottom:30px; }
.chara-box-right-lp{ width:100%; }
.chara-box-right-in-lp{ width:100%; margin:0; padding:30px 20px; }
.characteristic-reverse-box-lp .chara-box-right-in-lp{ margin:0; }
.chara-box-right-title-lp{ font-size:24px; line-height:34px; }
.chara-box-right-desc-lp{ padding:20px 0 0 0; }
.chara-box-right-desc-lp p{ font-size: 16px; line-height: 30px;}

.management-block-lp{ padding:60px 0 0 0; }
.management-middle-lp{ padding:60px 0 0 0; }
.management-box-left-lp{ width:100%; padding:0px 0 30px 0; }
.management-box-right-lp{ width:100%; }
.management-box-2-main-lp{ padding-top:0px; }
.management-box-2-lp{ margin:0px !important; }
.management-box-3-main-lp{ padding-top:0px; }
.management-box-4-main-lp{  padding-top:0px; }

.usage-block-lp{ margin-top:0px; height:600px; background-size: cover !important; }
.usage-title-lp{ position:relative; margin-top:0px; }

.attachment-block-lp{ padding:60px 0 0px 0; }
.attachment-middle-lp{ padding:60px 0 0 0; }
.attachment-box-lp{ width:100%; margin:0 0 30px 0; }
.attachment-text-lp{ font-size: 30px; line-height: 40px; }
.attachment-btn-lp a{ font-size:24px; }

.functions-middle-lp{ padding:60px 0 0 0;  }
.functions-box-lp{ width:calc(50% - 12px); margin-bottom:30px; }
.functions-img-lp{ height:90px; line-height:90px; }
.functions-img-lp img{ max-height:90px; }
.functions-name-lp{ font-size:20px; }

.contact-block-lp{ padding:50px 0 100px 0; }
.contact-title-lp{ font-size:20px; line-height:35px; padding-bottom:30px; }

/*--------------- LINKEY_END --------------*/
}

@media(min-width:768px) and (max-width:991px){
.container{ width:768px;}

/*--------------- HEADER_START --------------*/
#header{ padding:0px;}
.header-in-hp{ padding:0 15px; height:80px; justify-content: space-between; }
.logo-hp{ width:150px; padding:10px 0; }
.logo-hp img{ width:100%; height:auto; }

.mobile-menu-icon-hp{ display:block; margin-top:0px;  }
.menu-toggle-btn{  margin:20px auto 20px auto;  }
.navigation { padding: 15px; position: absolute; left: 0; width: 100%; background-color: #fff; display: none; top: 80px; clear: both; }
.navigation > ul { text-align: left; width: 100%;  padding: 0; }
.navigation > ul > li { font-size: 18px; display: block; padding: 0 0 15px 0; }
.contact-btn-hp{ height: 56px; line-height: 56px; font-size:16px; }
/*--------------- HEADER_END --------------*/
/*--------------- CONTAIN_START --------------*/
#contain{ margin:0px; padding:80px 0 0 0;}

/*--------------- CONTAIN_END --------------*/
/*--------------- FOOTER_START --------------*/
#footer{ padding:50px 0; min-height:inherit; }
/*--------------- FOOTER_END --------------*/


/*--------------- LINKEY_START --------------*/
.sub-navigation-lp{ position:relative; top:auto; left:auto; display:block; height:auto; padding:20px 0 20px 0; }
.sub-nav-right-lp{ text-align:left; padding:15px 0 0 0; }
.sub-nav-right-lp ul{ text-align:left; }
.sub-nav-right-lp ul li{ padding:0px 0 15px 0; width:100%;  }

.banner-block-lp{ padding:0px; }
.linkey-pro-block-lp{ padding:60px 0; }

.linkey-pro-left-lp{ width:50%; }

.linkey-pro-img1-hp{ width:90%; }
.linkey-pro-img2-hp{ width:90%; }
.linkey-pro-right-lp{ width:50%; padding-left:30px; }
.linkey-pro-right-lp p{ font-size: 16px; line-height: 30px; padding-bottom: 20px; }

.characteristic-block-lp{ margin:0; }
.common-title-lp h2{ font-size: 30px; line-height: 40px; }
.common-title-lp p{ font-size: 16px; line-height: 30px; padding-top: 20px; }
.characteristic-middle-lp{ padding:60px 0 0 0; }
.characteristic-box-lp{ padding-bottom:80px; }
.chara-box-left-lp{ padding-bottom:30px; }
.chara-box-right-in-lp{ width:100%; padding:30px 20px; }
.chara-box-right-title-lp{ font-size:24px; line-height:34px; }
.chara-box-right-desc-lp{ padding:20px 0 0 0; }
.chara-box-right-desc-lp p{ font-size: 16px; line-height: 30px;}

.management-block-lp{ padding:60px 0 0 0; }
.management-middle-lp{ padding:60px 0 0 0; }
.management-box-left-lp{ width:100%; padding:0px 0 30px 0; }
.management-box-right-lp{ width:100%; }
.management-box-2-main-lp{ padding-top:0px; }
.management-box-2-lp{ margin:0px !important; }
.management-box-3-main-lp{ padding-top:0px; }
.management-box-4-main-lp{  padding-top:0px; }

.usage-block-lp{ margin-top:0px; height:600px; background-size: cover !important; }
.usage-title-lp{ position:relative; margin-top:0px; }

.attachment-block-lp{ padding:60px 0 0px 0; }
.attachment-middle-lp{ padding:60px 0 0 0; }
.attachment-box-lp{ width:calc(50% - 20px); margin:0 40px 0px 0; }
.attachment-text-lp{ font-size: 30px; line-height: 40px; }
.attachment-btn-lp a{ font-size:24px; }

.functions-middle-lp{ padding:60px 0 0 0;  }
.functions-box-lp{ width:calc(50% - 12px); margin-bottom:30px; }
.functions-img-lp{ height:90px; line-height:90px; }
.functions-img-lp img{ max-height:90px; }
.functions-name-lp{ font-size:20px; }
.functions-desc-lp{ font-size:13px; }

.contact-block-lp{ padding:50px 0 100px 0; }
.contact-title-lp{ font-size:20px; line-height:35px; padding-bottom:30px; }

/*--------------- LINKEY_END --------------*/

}

@media(min-width:992px) and (max-width:1199px){
.container{ width:992px;}

/*--------------- HEADER_START --------------*/
#header{ padding:0px;}
.header-in-hp{ padding:0 15px; height:80px; justify-content: space-between; }
.logo-hp{ width:150px; padding:10px 0; }
.logo-hp img{ width:100%; height:auto; }
.navigation{ width:calc(100% - 150px);  }
.navigation > ul{ padding-left:20px; width:calc(100% - 150px); } 
.navigation > ul > li { font-size: 16px; line-height: 24px; padding: 0 25px 0 0; }
.contact-btn-main-hp{ width:150px; }
.contact-btn-hp{ height: 56px; line-height: 56px; font-size:16px; }
/*--------------- HEADER_END --------------*/
/*--------------- CONTAIN_START --------------*/
#contain{ margin:0px; padding:80px 0 0 0;}


/*--------------- CONTAIN_END --------------*/
/*--------------- FOOTER_START --------------*/
#footer{ padding:50px 0 100px 0; min-height:inherit; }
/*--------------- FOOTER_END --------------*/

/*--------------- LINKEY_START --------------*/
.sub-navigation-lp{ top:80px; padding:0 15px; }
.sub-nav-right-lp ul li{ font-size:18px; padding:0 0 0 40px; }

.linkey-pro-block-lp{ padding:60px 0; }

.linkey-pro-left-lp{ width:50%; }

.linkey-pro-img1-hp{ width:90%; }
.linkey-pro-img2-hp{ width:90%; }
.linkey-pro-right-lp{ width:50%; padding-left:30px; }
.linkey-pro-right-lp p{ font-size: 16px; line-height: 30px; padding-bottom: 20px; }

.characteristic-block-lp{ margin:0; }
.common-title-lp h2{ font-size: 30px; line-height: 40px; }
.common-title-lp p{ font-size: 16px; line-height: 30px; padding-top: 20px; }
.characteristic-middle-lp{ padding:60px 0 0 0; }
.characteristic-box-lp{ padding-bottom:80px; }
.chara-box-left-lp{ padding-bottom:30px; }
.chara-box-right-in-lp{ width:100%; padding:50px 50px; }
.chara-box-right-title-lp{ font-size:24px; line-height:34px; }
.chara-box-right-desc-lp{ padding:20px 0 0 0; }
.chara-box-right-desc-lp p{ font-size: 16px; line-height: 30px;}

.management-block-lp{ padding:60px 0 0 0; }
.management-middle-lp{ padding:60px 0 0 0; }
.management-box-left-lp{ width:100%; padding:0px 0 30px 0; }
.management-box-right-lp{ width:100%; }
.management-box-2-main-lp{ padding-top:0px; }
.management-box-2-lp{ margin:0px !important; }
.management-box-3-main-lp{ padding-top:0px; }
.management-box-4-main-lp{  padding-top:0px; }

.usage-block-lp{ margin-top:0px; height:800px; background-size: cover !important; }
.usage-title-lp{ position:relative; margin-top:0px; }

.attachment-block-lp{ padding:60px 0 0px 0; }
.attachment-middle-lp{ padding:60px 0 0 0; }
.attachment-box-lp{ width:calc(50% - 20px); margin:0 40px 0px 0; }
.attachment-text-lp{ font-size: 30px; line-height: 40px; }
.attachment-btn-lp a{ font-size:24px; }

.functions-middle-lp{ padding:60px 0 0 0;  }
.functions-box-lp{ width:calc(33% - 12px); margin-bottom:30px; }
.functions-img-lp{ height:90px; line-height:90px; }
.functions-img-lp img{ max-height:90px; }
.functions-name-lp{ font-size:20px; }
.functions-desc-lp{ font-size:13px; }

.contact-block-lp{ padding:50px 0 100px 0; }
.contact-title-lp{ font-size:20px; line-height:35px; padding-bottom:30px; }

/*--------------- LINKEY_END --------------*/
}

@media(min-width:1200px) and (max-width:1400px){

.container-1650{ max-width:1200px; }

/*--------------- HEADER_START --------------*/
#header{ padding:0px;}
.header-in-hp{ padding:0 15px; justify-content: space-between; }
.navigation > ul{ padding-left:20px; width:calc(100% - 150px); } 
.navigation > ul > li { padding: 0 25px 0 0; }
.contact-btn-main-hp{ width:150px; }
.contact-btn-hp{ height: 56px; line-height: 56px; font-size:16px; }
/*--------------- HEADER_END --------------*/


/*--------------- LINKEY_START --------------*/
.sub-navigation-lp{ top:135px; padding:0 15px; }
.sub-nav-right-lp ul li{ font-size:18px; padding:0 0 0 40px; }

.linkey-pro-block-lp{ padding:80px 0; }

.linkey-pro-left-lp{ width:50%; }

.linkey-pro-img1-hp{ width:90%; }
.linkey-pro-img2-hp{ width:90%; }
.linkey-pro-right-lp{ width:50%; padding-left:30px; }
.linkey-pro-right-lp p{ font-size: 28px; line-height: 42px; padding-bottom: 35px;  }

.characteristic-block-lp{ margin:0; }
.common-title-lp h2{ font-size: 40px; line-height: 40px; }
.common-title-lp p{ font-size: 25px; line-height: 40px; padding-top: 30px; }
.characteristic-middle-lp{ padding:60px 0 0 0; }
.characteristic-box-lp{ padding-bottom:80px; }
.chara-box-left-lp{ padding-bottom:30px; }
.chara-box-right-in-lp{ width:100%; }
.chara-box-right-title-lp{ font-size:30px; line-height:44px; }
.chara-box-right-desc-lp{ padding:20px 0 0 0; }
.chara-box-right-desc-lp p{ font-size: 20px; line-height: 36px;}

.management-block-lp{ padding:80px 0 0 0; }
.management-middle-lp{ padding:80px 0 0 0; }
.management-box-left-lp{ width:100%; padding:0px 0 50px 0; }
.management-box-right-lp{ width:100%; }
.management-box-2-main-lp{ padding-top:0px; }
.management-box-2-lp{ margin:0px !important; }
.management-box-3-main-lp{ padding-top:0px; }
.management-box-4-main-lp{  padding-top:0px; }

.usage-block-lp{ margin-top:0px; height:800px; background-size: cover !important; }
.usage-title-lp{ position:relative; margin-top:0px; }

.attachment-block-lp{ padding:80px 0 0px 0; }
.attachment-middle-lp{ padding:80px 0 0 0; }
.attachment-text-lp{ font-size: 30px; line-height: 40px; }
.attachment-btn-lp a{ font-size:24px; }

.functions-middle-lp{ padding:80px 0 0 0;  }
.functions-box-lp{ padding:20px; }
.functions-img-lp{ height:90px; line-height:90px; }
.functions-img-lp img{ max-height:90px; }
.functions-name-lp{ font-size:20px; }
.functions-desc-lp{ font-size:13px; }

.contact-block-lp{ padding:50px 0 100px 0; }
.contact-title-lp{ font-size:26px; line-height:40px; padding-bottom:50px; }
/*--------------- LINKEY_END --------------*/
}

@media(min-width:1401px) and (max-width:1670px){

.container-1650{ max-width:1400px; }

/*--------------- HEADER_START --------------*/
#header{ padding:0px;}
.header-in-hp{ padding:0 15px; justify-content: space-between; }
.navigation > ul{ padding-left:20px; } 
.navigation > ul > li { padding: 0 25px 0 0; }

/*--------------- HEADER_END --------------*/

/*--------------- LINKEY_START --------------*/
.linkey-pro-left-lp{ width:600px; }
.linkey-pro-right-lp{ width:calc(100% - 600px); }
.container-1700 {  max-width: 1400px;}
.chara-box-right-in-lp{ width:100%; }
.linkey-pro-img1-hp{ width:100%; }
.linkey-pro-img2-hp{ width:90%; margin:-40px -10% 0 0; }
/*--------------- LINKEY_END --------------*/
}

@media(min-width:992px) and (max-width:9999px){
.mobile-page-hp{ display:none; }
}